body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin:0;
    padding:0;
}

header{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:20px;
}

header img{
    width:150px;
    height:150px;
    border-radius:50%;
    border:3px solid white;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    color:#0077b6;
}

ul{
    list-style-type:square;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}